html, body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3EEEA;
  color: #716050;
  scroll-behavior: smooth;
  font-weight: 500;
}

body {
  margin-top: 1vh;
  margin-left: 12vw;
  margin-right: 12vw;
  padding-top: 2.083vw;
}

.fixed-header {
  font-weight: bold;
  font-size: 1.25vw;
  width: 100%;
  z-index: 1000;
  background-color: #F3EEEA;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin-right: 0.26vw; 
}

.github-link {
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-info h3 {
  display: flex;
  align-items: center;
  margin: 0.26vw 0;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 1.563vw;
  text-align: center;
  scroll-margin-top: 3.646vw;
  font-weight: bolder;
}

h3 {
  font-size: 1.2vw;
}

p {
  text-align: left;
  font-size: 1.5vw;
}

.fa {
  margin-right: 0.521vw;
  font-family: "Varela Round", sans-serif;
}

.content-container {
  margin-top: 2.604vw;
}

.sparkle {
  height: 15.625vw;
  width: 11.458vw;
  background: radial-gradient(#0000 71%, #716050 72%) 10000% 10000% / 99.5% 99.5%;
}

ul {
  list-style-type: "";
  font-size: 1.5vw;
  text-align: left;
}

.space {
  margin-bottom: 1vh;
}

.mini-space {
  margin-bottom: 0.104vw;
}

.work-experience, .education, .community-involvement {
  text-align: left;
}

.work-experience ul,
.education h3,
.community-involvement h3 {
  text-align: left;
}

::-webkit-scrollbar {
  width: 0.521vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a79381;
}

::-webkit-scrollbar-thumb:hover {
  background: #716050;
}


* {
  box-sizing: border-box;
  border-radius: 0.26vw;
}

.slideshow-container {
  max-width: 39.063vw;
  height: 24.74vw; 
  position: relative;
  margin: auto;
  border: 0.521vw solid #716050;
  padding-bottom: 3.125vw;
  border-radius: 1.302vw;
  box-shadow: 0.26vw 0.521vw; 
  background-color: white;
  overflow: hidden;
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: inherit;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.146vw;
  margin-left: 1.25vw;
  margin-right: 1.25vw;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 1.25vw;
  transition: 0.6s ease;
  border-radius:0.417vw 0.417vw 0.417vw 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 0.417vw 0.417vw 0 0.417vw;
}

.text {
  color: #716050;
  font-size: 0.677vw;
  padding: 0.417vw 0.625vw;
  position: absolute;
  bottom: 0.417vw;
  width: 100%;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}

.numbertext {
  color: #1c1b1b;
  font-size: 0.781vw;
  padding: 0.417vw 0.625vw;
  position: absolute;
  font-weight: bold;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

a {
  color: #716050;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #698150;
}

a:focus {
  text-decoration: none;
  color: #698150;
}

a:hover, a:active {
  text-decoration: none;
  color: #698150;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin-left: 5vw;
  margin-right: 5vw;
}

.typewriter {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 0.26vw;
  width: 0.781vw;
  margin: 0.104vw 0.104vw;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  justify-content: space-between;
}

.experience-card {
  background-color: #F3EEEA;
  border-radius: 0.781vw;
  box-shadow: 0 0.208vw 0.417vw rgba(0, 0, 0, 0.3);
  padding: 1.25vw;
  width: 100%;
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-0.26vw);
}

.experience-card h3:first-of-type {
  font-size: 1.25vw;
  font-weight: bold;
}

.experience-card h3 + p,
.experience-card h4 {
  font-size: 1.25vw;
  font-weight: normal;
}

.experience-card p:last-of-type {
  font-size: 0.729vw;
  color: #716050;
}

.experience-card h3,
.experience-card h4,
.experience-card p,
.experience-card ul,
.experience-card li {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.experience-card h3 {
  margin-bottom: 0.26vw;
}

.experience-card h4 {
  margin-bottom: 0.26vw;
}

.experience-card p:last-of-type {
  margin-bottom: 0.521vw;
}

.experience-card ul {
  margin-top: 0.521vw;
}

.experience-card li {
  margin-bottom: 0.26vw;
}

.experience-card ul {
  list-style: none;
  padding-left: 0;
}

.experience-card li {
  margin-bottom: 0.521vw;
  font-size: 1.3vw;
  color: #716050;
}
